{% extends 'base.html' %}
{% block styles %}
<link rel="stylesheet" href="/../../static/css/calendar.css">
<link rel="stylesheet" href="/../../../static/css/style.css">
{% endblock %}

{% block content %}
<h1>Plan Your Meals!</h1>
<a class="waves-effect waves-light btn" style="background-color: #4F5C7D; position: absolute; right: 0;" href="{% url 'all_meals' %}">Manage Meals</a>
<br>
<br>
<br>

<!-- <div class="clearfix">
	<a class="btn btn-info left" href="{'% url 'cal:calendar' %}?{'{ prev_month }}"> Previous Month </a>
	<a class="btn btn-info right" href="{'% url 'cal:calendar' %}?{'{ next_month }}"> Next Month </a>
	
</div> -->
{{ calendar }}
{% endblock %}