{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" href="../../static/css/details.css">
{% endblock %}
{% block content %}

<div class="detail-page container">
<h1>{{ data.title}}</h1>


<div class="row card-container">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
            <img src="{{data.image}}">
        </div>
        <div class="card-content">
            <p>Ready in {{ data.readyInMinutes}} minutes</p>
            <p>Servings: {{ data.servings }}</p>
        </div>
      </div>
    </div>
  </div>
    
  {% autoescape off %}
    <h5>Summary</h5>
    <p>{{ data.summary }}</p>
    <h5>Cooking Instructions</h5>
    <p>{{ data.instructions }}</p>
    {% endautoescape %}
    <a class="btn" style="background-color: #4F5C7D;" href="{{ data.spoonacularSourceUrl}}" target="_blank">Go to full recipe</a>

    <br>

    <div class="meal-form">
    <h4>Add this FLEXipe to your meal plan!</h4>
    <div>
        <form action="{% url 'add_meal' data.id %}" method="post" class="col s4">
            {% csrf_token %}
            {{ meal_form.as_p }}
            <input style="background-color: #4F5C7D" ="submit" class="btn" value="Add Meal">
        </form>
        </div>
      </div>
      </div>
    <script>
        var selectEl = document.getElementById('id_meal');
        M.FormSelect.init(selectEl);


        var dateEl = document.getElementById('id_date');
        M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
        });
      </script>


{% endblock %}