{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="../../static/css/style.css">
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container login-form">
<h1 style="text-align: center;">Log In to FLEXipes</h1>

<!-- Add the login form -->
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn" value="login">
    <input type="hidden" name="next" value="{{ next }}">
</form>
</div>
{% endblock %}