{% extends 'base.html' %}


{% block styles %}
    <link rel="stylesheet" href="../../static/css/style.css">
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container sign-up-form">
<h1 style="text-align: center;">Sign Up for FLEXipes</h1>

{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

<form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" class="btn" value="signup">
</form>
</div>
{% endblock %}