{% extends 'base.html' %}


{% block styles %}
    <link rel="stylesheet" href="../../static/css/style.css">
{% endblock %}

{% block content %}
<div class="sign-up-page">
<div class="sign-up-form">
<h1>Sign Up for FLEXipes</h1>

{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

<form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
  {{ form.as_p }}
  <input style="background-color: #59344F; display:flex; align-self: center; justify-content: center; text-align: center;" type="submit" class="btn" value="signup">
</form>
</div>
</div>
{% endblock %}