{% extends 'base.html' %}
{% block content %}

<h1 class="center-align">Welcome to FLEXipes<br><span style="font-size: 2.9rem; margin:0">Recipes for Everyday Cooking</span></h1>

<h4 class="intro0 center-align">
    Tired of last minute grocery runs? We get it! <br>
    FLEXipes is a Fun, Lean, Easy, eXperience for everybody <br>from the home cook to the Suous Chef!
</h4>
<div class="row">
    <div class="intro1 col s4">
        <i class="large material-icons">attach_money</i>
        <h5>
            Designed to help you save on groceries by showing you 
            recipes you can make with the ingredients you have on hand. Just tell us 
            what is in your pantry, cooler, and freezer!
        </h5>
    </div>
    <div class="intro2 col s4">
        <i class="large material-icons">delete</i>
        <h5>
            Cut down on food waste. Over <a href="https://www.usda.gov/foodlossandwaste/why" target="_blank">one-third</a> 
            of food in the US is tossed out or goes uneatten- a staggering 133 billion pounds of food every year!
        </h5>
        
    </div>
    <div class="intro3 col s4">
        <i class="large material-icons">local_dining</i>
        <h5>
            Personal meal plans that make the most of your time and budget! 
            Avoid the stress of figuring out what's for dinner tonight by saving recipes to 
            your calendar.
        </h5>
    </div>
</div>

<h4 class="quote center-align" style="font-style: italic;">
    "{{food_trivia}}"
</h4>


{% endblock %}