.home-page {
    background-image: url("../images/flexipes_home.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.home-page-text {
    position: relative !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

material-icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}