.results {
    display: grid !important;
    align-content: center;
    justify-content: center;
    grid-template-columns: 50 50;
    margin: 10vh;
    padding: 10px;
}

.results-header {
    display: flex;
    align-items: center;
    justify-content: center;
}